.loader {
	display: block;
	width: 250px;
	height: auto;
}

.loader_body,
.loader_front,
.loader_handlebars,
.loader_pedals,
.loader_pedals-spin,
.loader_seat,
.loader_spokes,
.loader_spokes-spin,
.loader_tire {
	animation: bikeBody 3s ease-in-out infinite;
	stroke: var(--primary);
	transition: stroke var(--trans-dur);
}

.loader_front {
	animation-name: bikeFront;
}

.loader_handlebars {
	animation-name: bikeHandlebars;
}

.loader_pedals {
	animation-name: bikePedals;
}

.loader_pedals-spin {
	animation-name: bikePedalsSpin;
}

.loader_seat {
	animation-name: bikeSeat;
}

.loader_spokes,
.loader_tire {
	stroke: currentColor;
}

.loader_spokes {
	animation-name: bikeSpokes;
}

.loader_spokes-spin {
	animation-name: bikeSpokesSpin;
}

.loader_tire {
	animation-name: bikeTire;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue), 90%, 10%);
		--fg: hsl(var(--hue), 90%, 90%);
	}
}

/* Animations */
@keyframes bikeBody {
	from {
		stroke-dashoffset: 79;
	}

	33%,
	67% {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: -79;
	}
}

@keyframes bikeFront {
	from {
		stroke-dashoffset: 19;
	}

	33%,
	67% {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: -19;
	}
}

@keyframes bikeHandlebars {
	from {
		stroke-dashoffset: 10;
	}

	33%,
	67% {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: -10;
	}
}

@keyframes bikePedals {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -25.133;
	}

	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -21.991;
	}

	to {
		stroke-dashoffset: -25.133;
	}
}

@keyframes bikePedalsSpin {
	from {
		transform: rotate(0.1875turn);
	}

	to {
		transform: rotate(3.1875turn);
	}
}

@keyframes bikeSeat {
	from {
		stroke-dashoffset: 5;
	}

	33%,
	67% {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: -5;
	}
}

@keyframes bikeSpokes {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: -31.416;
	}

	33%,
	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: -23.562;
	}

	to {
		stroke-dashoffset: -31.416;
	}
}

@keyframes bikeSpokesSpin {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(3turn);
	}
}

@keyframes bikeTire {
	from {
		animation-timing-function: ease-in;
		stroke-dashoffset: 56.549;
		transform: rotate(0);
	}

	33% {
		stroke-dashoffset: 0;
		transform: rotate(0.33turn);
	}

	67% {
		animation-timing-function: ease-out;
		stroke-dashoffset: 0;
		transform: rotate(0.67turn);
	}

	to {
		stroke-dashoffset: -56.549;
		transform: rotate(1turn);
	}
}
